# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: build
on:
  push:
    branches:
      - "**"
  pull_request:
  workflow_dispatch:

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      toolchain-version: ${{ steps.bootstrap.outputs.toolchain-version }}
      toolchain-filename: ${{ steps.bootstrap.outputs.toolchain-filename }}
      toolchain-checksum: ${{ steps.bootstrap.outputs.toolchain-checksum }}
      toolchain-artifact-id: ${{ steps.upload-toolchain.outputs.artifact-id }}
      toolchain-publish-release: ${{ steps.bootstrap.outputs.toolchain-publish-release }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v5
        with:
          submodules: false
          persist-credentials: false

      - name: Allow User Namespaces
        run: sudo sysctl --write kernel.apparmor_restrict_unprivileged_userns=0

      - name: Bootstrap
        id: bootstrap
        run: ./go-bootstrap.sh --clean --build --github-actions
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Toolchain
        id: upload-toolchain
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # ratchet:actions/upload-artifact@v4
        with:
          path: dist/
          name: toolchain
          if-no-files-found: error
          compression-level: 0

  provenance:
    if: "${{ needs.build.outputs.toolchain-publish-release == 'true' && github.event_name == 'push' && github.ref_name == github.event.repository.default_branch }}"
    runs-on: ubuntu-latest
    outputs:
      provenance-artifact-id: ${{ steps.upload-provenance.outputs.artifact-id }}
    needs:
      - build
    permissions:
      id-token: write
      attestations: write
    steps:
      - name: Generate SLSA Provenance
        id: provenance
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # ratchet:actions/attest-build-provenance@v3
        with:
          subject-name: ${{ needs.build.outputs.toolchain-filename }}
          subject-digest: sha256:${{ needs.build.outputs.toolchain-checksum }}

      - name: Rename provenance file
        run: mv ${{ steps.provenance.outputs.bundle-path }} ${{ needs.build.outputs.toolchain-filename }}.slsa.jsonl

      - name: Upload provenance bundle
        id: upload-provenance
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # ratchet:actions/upload-artifact@v4
        with:
          name: provenance
          path: ${{ needs.build.outputs.toolchain-filename }}.slsa.jsonl
          if-no-files-found: error

  release:
    if: "${{ needs.build.outputs.toolchain-publish-release == 'true' && github.event_name == 'push' && github.ref_name == github.event.repository.default_branch }}"
    runs-on: ubuntu-latest
    environment: release
    needs:
      - build
      - provenance
    permissions:
      contents: read
      attestations: read
    steps:
      - name: Download Toolchain
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # ratchet:actions/download-artifact@v5
        with:
          path: dist
          artifact-ids: ${{ needs.build.outputs.toolchain-artifact-id }}

      - name: Download Provenance
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # ratchet:actions/download-artifact@v5
        with:
          path: dist
          artifact-ids: ${{ needs.provenance.outputs.provenance-artifact-id }}

      - name: List Artifacts
        run: ls -ARl dist

      # Using gh (which is written in go) is okay here as it is executed after building the
      # go toolchain and signing SLSA provenance in previous jobs and has no access to OIDC
      # tokens which are required to mint sigstore certificates.
      - name: Verify SLSA Provenance
        id: verify
        run: >-
          gh attestation verify
          --format=json
          --deny-self-hosted-runners
          --repo ${{ github.repository }}
          --source-digest ${{ github.sha }}
          --bundle dist/${{ needs.build.outputs.toolchain-filename }}.slsa.jsonl
          dist/${{ needs.build.outputs.toolchain-filename }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # A custom app is used here instead of default github-actions app, as github-actions
      # app cannot be added to repository rules bypass list.
      - name: Create Release Token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # ratchet:actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.GO_BOOTSTRAP_RELEASES_APP_ID }}
          private-key: ${{ secrets.GO_BOOTSTRAP_RELEASES_APP_PRIVATE_KEY }}

      - name: Create a Release
        id: release
        run: >-
          gh release create
          --repo ${{ github.repository }}
          --target ${{ github.sha }}
          --title "Go Bootstrap Toolchain ${{ needs.build.outputs.toolchain-version }}"
          ${{ needs.build.outputs.toolchain-version }}
          dist/${{ needs.build.outputs.toolchain-filename }}
          dist/${{ needs.build.outputs.toolchain-filename }}.sha256
          dist/${{ needs.build.outputs.toolchain-filename }}.slsa.jsonl
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
