# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: build
on:
  push:
    branches:
      - "**"
    tags:
      - "**"
  pull_request:
  workflow_dispatch:

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      toolchain-version: ${{ steps.bootstrap.outputs.toolchain-version }}
      toolchain-filename: ${{ steps.bootstrap.outputs.toolchain-filename }}
      toolchain-checksum: ${{ steps.bootstrap.outputs.toolchain-checksum }}
      toolchain-artifact-id: ${{ steps.upload-toolchain.outputs.artifact-id }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v5
        with:
          submodules: false
          persist-credentials: false

      - name: Bootstrap
        id: bootstrap
        run: ./go-bootstrap.sh --clean --build --github-actions

      - name: Upload Toolchain
        id: upload-toolchain
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # ratchet:actions/upload-artifact@v4
        with:
          path: dist/
          name: toolchain
          if-no-files-found: error
          compression-level: 0

  provenance:
    if: "${{ github.ref_type == 'tag' || (github.event_name == 'push' && github.ref_name == github.event.repository.default_branch) }}"
    runs-on: ubuntu-latest
    outputs:
      provenance-artifact-id: ${{ steps.upload-provenance.outputs.artifact-id }}
    needs:
      - build
    permissions:
      id-token: write
      attestations: write
    steps:
      - name: Generate SLSA Provenance
        id: provenance
        uses: actions/attest-build-provenance@e8998f949152b193b063cb0ec769d69d929409be # ratchet:actions/attest-build-provenance@v2
        with:
          subject-name: ${{ needs.build.outputs.toolchain-filename }}
          subject-digest: sha256:${{ needs.build.outputs.toolchain-checksum }}

      - name: Rename provenance file
        run: mv ${{ steps.provenance.outputs.bundle-path }} ${{ needs.build.outputs.toolchain-filename }}.slsa.jsonl

      - name: Upload provenance bundle
        id: upload-provenance
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # ratchet:actions/upload-artifact@v4
        with:
          name: provenance
          path: ${{ needs.build.outputs.toolchain-filename }}.slsa.jsonl
          if-no-files-found: error

  release:
    if: "${{ github.ref_type == 'tag' || (github.event_name == 'push' && github.ref_name == github.event.repository.default_branch) }}"
    runs-on: ubuntu-latest
    needs:
      - build
      - provenance
    permissions:
      contents: write
      attestations: read
    steps:
      - name: Download Toolchain
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # ratchet:actions/download-artifact@v5
        with:
          path: dist
          artifact-ids: ${{ needs.build.outputs.toolchain-artifact-id }}

      - name: Download Provenance
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # ratchet:actions/download-artifact@v5
        with:
          path: dist
          artifact-ids: ${{ needs.provenance.outputs.provenance-artifact-id }}

      - name: List Artifacts
        run: ls -ARl dist

      # Using gh (which is written in go) is okay here as it is executed after building the
      # go toolchain and signing SLSA provenance in previous jobs and has no access to OIDC
      # tokens which are required to mint sigstore certificates.
      - name: Create a Release
        if: ${{ github.ref_type == 'tag' }}
        id: release
        run: >-
          gh release create
          --verify-tag
          --repo ${{ github.repository }}
          --title "Go Bootstrap Toolchain ${{ needs.build.outputs.toolchain-version }}"
          ${{ github.ref_name }}
          dist/${{ needs.build.outputs.toolchain-filename }}
          dist/${{ needs.build.outputs.toolchain-filename }}.sha256
          dist/${{ needs.build.outputs.toolchain-filename }}.slsa.jsonl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
